/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

$white: #ffffff;
$light_gray: #C3C3BA;
$medium_gray: #77817F;
$dark_gray: #283536;
$green: #38FF9F;

body{
  font-family: 'Raleway', sans-serif;
}

.navbar{
  margin: 0;
  padding: 0 2em;
}

.container{
  margin:0;
  width: 100%;
	.jumbotron{
		background-color: $white;
    padding:0;

    .index{
      text-align: center;
      .index_not_signed_in{
        padding:0;
        .banner{
          height: 90vh;
          background: url(image-path('fitview.jpg')) no-repeat center center fixed;
          -webkit-background-size: cover;
          -moz-background-size: cover;
          -o-background-size: cover;
          background-size: cover;
          padding-top: 10em;

          h1{
            font-size: 8em;
            margin:0;
            color:$white;
            padding-bottom: .3em;
            font-family: 'Permanent Marker', cursive;
            span{
              color: $green;
            }
          }

          .login{
            font-size: 2em;
            width: 9em;
            border-radius: 30px;
            margin-bottom: 1em;
            background: $dark_gray;
            color: $white;
            border: 2px solid $dark_gray;
          }
          .login:hover{
            border: 2px solid $light_gray;
          }

          .signup{
            font-size: 2em;
            width: 9em;
            margin-bottom: 1em;
            border-radius: 30px;
            background: $dark_gray;
            color:$white;
            border: 2px solid $dark_gray;
          }
          .signup:hover{
            border: 2px solid $light_gray;
          }
        }/*banner */

        .mission{
          padding: 2em 5em 2em 5em;
          background-color: $dark_gray;
          color:$white;
          h1{
            font-weight: 700;
            font-size:5em;
            padding-bottom: .5em;
          }
        }/*mission */

        .functions{
          text-align: left;
          padding: 2em 5em 2em 5em;

          h1{
            text-align: center;
            font-weight: 700;
            font-size:5em;
            padding-bottom: .5em;
          }
          p{
            padding:1em 3em;
          }
        }/* functions */
      }
    }/* index_not_signed_in */

    .index_signed_in{
      padding: 0;

      h1{
        margin: 0;
        font-weight: 700;
        padding:1.3em 0;
        background-color: $dark_gray;
        color: $white;
      }

      .training_index{
        padding-top: 3em;
      }
    }

    .training{
      padding:4em 0;

    }/* training */

    .about{
      padding:3em 0;
      h2{
        padding: .5em 0;
        font-size:3em;
      }
      p{
        span{
          font-weight: 700;
        }
      }
    }/* about */

    .diet{
      padding:4em 0;

      h1{
        padding-bottom: 1em;
      }

      h2{
        padding-bottom: 2em;
      }
    }/*diet*/

	}/* jumbotron */

	.new{
		h1{
			padding-bottom: 1em;
		}
	}
	.edit{
		h2{
			font-size: 3em;
			padding:1em 0;
		}
	}

}/* container */
