/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require morris
 *= require animate
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

$white: #ffffff;
$light_gray: #C3C3BA;
$medium_gray: #77817F;
$dark_gray: #283536;
$dark_blue: #232940;
$light_blue: #318aa7;

body{
  font-family: 'Raleway', sans-serif;
}

body,html, .container, .index, .login, .signup, .about_header{
  width:100%;
}

.container, .jumbotron, .navbar, .index, .banner, .banner h1, .diet_header h1, .service, .newsletter, .new_header, .index_signed_in h1, .about, .diet_header h1, .footer, .edit_header{
  margin:0;
}

.navbar{
  background-color: $white;
  padding: 0 2em;
  border:none;

  .logo{
    img{
        padding-top: 0.75em;
    }
  }

  li.option{
    a{
      border-style: solid;
       border-width: 0 0 4px 0;
       border-color: #fff;
    }
    a:hover{
      border-color: $dark_gray;
    }
  }
}

.container{
  padding:0;
	.jumbotron{
		background-color: $white;
    padding:0;
    .index{
      text-align: center;
      .index_not_signed_in{
        padding:0;
        .banner{
          height:100vh;
          max-width: 100%;
          background: url(image-path('swim.jpg')) no-repeat center center fixed;
          -webkit-background-size: cover;
          -moz-background-size: cover;
          -o-background-size: cover;
          background-size: cover;
          padding-top: 10em;

          h1{
            font-size: 5.5em;
            color:$white;
            padding: 0 .3em .3em .3em;
            font-weight: 700;
          }

          .login, .signup{
            margin:1em;
            border-radius: 0;
            padding:0.5em;
            font-size:1.7em;
            color: $white;
            border: 3px solid $white;
          }

          .signup{
            font-weight: 700;
            background-color: $dark_blue;
          }

          .signup:hover{
            color: $light_blue;
            border:3px solid $light_blue;
          }

          .login{
            background-color: $light_blue;
          }

          .login:hover{
            color: $dark_blue;
            border:3px solid $dark_blue;
          }
        }/*banner */

        .service{
          max-width: 100%;
          h1{
            padding: 0.5em 0;
            font-weight: 700;
          }

          .line{
              ul{
                padding:0 20em;
              }

              li{
                font-size: 1.5em;
              }

              ul li {
                  position:relative;
                  margin-bottom: 0;
                  padding-bottom: 2.5em;
              }

              ul li:after {
                  /* bullets */
                  content: url('bullet.png');
                  position: absolute;
                  left: -30px; /*adjust manually*/
                  top: 0px;
              }

              ul li:before {
                  /* lines */
                  content:"";
                  position: absolute;
                  left: -16px; /* adjust manually */
                  border-left: 1px solid $light_gray;
                  height: 100%;
                  width: 1px;
              }

              ul li:first-child:before {
                 /* first li's line */
                 top: 6px; /* moves the line down so that it disappears under the bullet. Adjust manually */
              }

              ul li:last-child:before {
                  /* last li's line */
                 height: 6px; /* shorten the line so it goes only up to the bullet. Is equal to first-child:before's top */
              }
          }
        }/* service */

        .newsletter{
          background-color: #1c1c1c;
          padding-bottom: 2em;
          max-width: 100%;

          h2{
            font-size: 700;
            padding: .8em 0;
            color: $white;
          }

          .newsletter_form{
            display: flex;
            justify-content: center;
            align-items: center;

            .form-control, .btn-default{
              display: inline-block;
            }

            .newsletter_button{
              margin:1em;
              width: 40%;
              border-radius: 0;
              padding:0.5em;
              font-size:1.7em;
              color: $white;
              border: 3px solid $white;
              background-color: $light_blue;
            }

            .newsletter_button:hover{
              color: $dark_blue;
              border:3px solid $dark_blue;
            }
          }
        }/* newsletter */
      }
    }/* index_not_signed_in */

    .index_signed_in{
      padding: 0;

      #distance_chart{
        margin:0 1.5em;
      }

      h1{
        font-weight: 700;
        padding:1.7em .5em;
        background-color: $dark_gray;
        color: $white;
      }

      .training_index{
        padding: 2em 0;
      }

      hr {
        display: block;
        height: 1px;
        border: 0;
        border-top: 1px solid $light_gray;
        margin: 0;
        padding: 0;
      }

      .training_index:last-child hr{
        display: none;
      }
    }

    .training{
      padding:4em 0;
    }/* training */

    .edit_training{
      padding: 3em 0;
    }

    .about{
      max-width: 100%;
      .about_header{
        background-color: $dark_gray;
        color: $white;
        text-align: center;
        height: auto;

        img{
          width: 200px;
          height:200px;
          margin: 3em 0;
          border-radius: 50%;
          -webkit-box-shadow: 0px 0px 48px 9px rgba(20,20,20,1);
          -moz-box-shadow: 0px 0px 48px 9px rgba(20,20,20,1);
          box-shadow: 0px 0px 48px 9px rgba(20,20,20,1);
        }

        img, h2{
          display: inline-block;
        }

        h2{
          padding: .5em 2em;
          font-size:3em;
        }
      }

      .about_details{
        padding: 3em 0;
        p{
          span{
            font-weight: 700;
          }
        }

        .line{
          border-top: 1px solid $light_gray;
          width:10%;
          margin: 3em 0;
        }
      }
    }/* about */

    .diet{
      text-align: center;

      .diet_header{
        background-color: $dark_gray;
        color: $white;
        text-align: center;
        h1{
          padding: 1.7em 0;
        }
      }

      .diet_details{
        padding: 2em 0;

        #diet-circle{
          padding: 0 1em;
        }

        h2{
          padding: 1.5em;
        }
      }
    }/*diet*/

    .footer{
      max-width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 1em 5em;
      color: $white;
      background-color: $dark_blue;
      p{
        font-size: 1em;
      }

      .icon{
        margin: 0 1em;
        font-size:1.7em;
        padding:.5em;
        .social_link{
          color: $white;
        }
        .social_link:hover, .social_link:active{
          color: $light_gray;
        }
      }

      .icon:hover{
        color: $light_blue;
      }
    }/* footer */
	}/* jumbotron */

  .devise{
    padding:6em 0;
    min-height: 100vh;
  }

	.new{
    .new_header{
      background-color: $dark_gray;
      color: $white;
      text-align: center;
      padding: 1.7em 0;

      h1{
  			padding: 1em;
  		}
    }

    .new_details{
      padding: 3em 0;
    }
	}
	.edit{
    .edit_header{
      background-color: $dark_gray;
      color: $white;
      text-align: center;
      padding: 1.7em 0;

      h1{
  			padding: 1em;
  		}
    }

    .edit_details{
      padding: 3em 0;
    }
	}
}/* container */

@media only screen and (max-width: 700px) {

  .container{
  	.jumbotron{
      .index{
        .index_not_signed_in{
          .banner{
            padding-top:2em;
            h1{
              font-size: 3.7em;
            }
          }
          .service{
            .line{
              ul{
                padding: 0 10em;
              }
            }
          }

          .newsletter{
            .newsletter_form{
              display: block;

              input{
                margin: .3em 3em;
                width:80%;
              }
            }
          }
        }
      }
    }
  }
}/*media queries*/
