<div class="row footer">
  <div class="col-sm-9 col-xs-9">
    <h2>FitView</h2>
    <p>&copy; 2016 FitView, Inc. All rights reserved.</p>
  </div>
  <div class="col-sm-1 col-xs-1 icon wow slideInRight" data-wow-duration="1s">
    <%= fa_icon "facebook" %>
  </div>
  <div class="col-sm-1 col-xs-1 icon wow slideInRight" data-wow-duration="1.1s">
    <%= fa_icon "twitter" %>
  </div>
  <div class="col-sm-1 col-xs-1 icon wow slideInRight" data-wow-duration="1.2s">
    <%= fa_icon "instagram" %>
  </div>
</div>
